<!DOCTYPE html>
<html lang="en">
<head>
<style>
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: orangered;} /* orange read */
</style>
</head>
<body>

<h1>Meeting Topic </h1>
<p>Please select your Topic for the meeting:</p>
<form action="addTopic">
      {% csrf_token %}

    <input type="text" name="topic" >
 <input class="button button2" type="submit" value="submit">add Topic</input>
</form>

<h1>Start with recording your voice </h1>

<form action="voice_topic_result">
      {% csrf_token %}

  <p>Please select your language:</p>
  <input type="radio" id="English" name="language" value="English" >
  <label for="English">English</label><br>
  <input type="radio" id="Deutsch" name="language" value="Deutsch">
  <label for="Deutsch">Deutsch</label><br>
    <input type="number" name="Duration" required>
 <input class="button button2" type="submit" value="Submit">start recording </input>

</form>
</body>
</html>
